/* font-family: 'Hedvig Letters Serif', serif;
font-family: 'Nova Square', sans-serif; */

h1, h2 {
    font-family: 'Hedvig Letters Serif', serif;
}

h1 {
    font-weight: 700;
}

p {
    font-family: 'Nova Square', sans-serif;
}

.f-.paint-roller {
font-size: 10rem;
color: pink;
}

.max-mar {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    color: antiquewhite;
}

.head {
    background-color: blanchedalmond;
}

.container {
    background-color: yellowgreen;
}

.map iframe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;

}